body
{
    font: 18px Helvetica, serif;
    color: #444;
}

/* header */

header
{
    font: 32px 'PT SansNarrow';
    text-align: center;
    line-height: .75rem;
}

header > p::first-letter
{
    color: #f00;
}

header,
main,
footer
{
    width: 97%;
}

body
{
    border: 2px solid #aaa;
}

footer,
main
{
    border-top: 2px solid #aaa;
}

/* main */

.carousel
{
    display: table;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}

input
{
    display: none;
}

.cat-box
{
    width: 300px;
    vertical-align: middle;
    padding: 40px;
    display: none; /* нужные потом будут отображены в input:checked */
    position: relative;
}

.cat-photo
{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.overlay-container
{
    display: table;
    position: absolute;
    bottom: 0;
    width: 300px;
    height: 300px;
    margin: 45px 0;
}

.overlay
{
    /* выставляет правильную позицию */

    background: rgba(0, 0, 0, .4);
    opacity: 0;
    transition: .5s ease;
    color: #f1f1f1;
    font-size: 36px;

    display: table-cell;
    vertical-align: middle;
}

input:checked + div + input + .cat-box:hover .overlay
{
    opacity: 1;
}

/* я попробовал, но с nth-чтонибудь у меня так и не получилось */

input:checked + div,
input:checked + div + input + div,
input:checked + div + input + div + input + div
{
    display: inline-block;
}

input:checked + div > label > .cat-photo,
input:checked + div + input + div + input + div > label > .cat-photo
{
    opacity: .7;
    height: 240px;
    width: 240px;
}

/* оверлей перекрывал инпуты */

input:checked + div > .overlay-container,
input:checked + div + input + div + input + div > .overlay-container
{
    display: none;
}

/* footer */

footer
{
    display: table;
    table-layout: fixed;
    font: 14px Arial;
}

a
{
    color: #4c4cd8;
    text-decoration: none;
}

.footer-left,
.footer-right
{
    padding: 5px;
}

.footer-left
{
    display: table-cell;
    text-align: left;
}

.write-us-list
{
    list-style: none;
    margin: 2px;
    padding: 0;
}

.write-us-list-item
{
    background: url(src/icons/mail.png) left center no-repeat;
    margin: 2px;
    padding: 0 24px;
}

.footer-right
{
    display: table-cell;
    text-align: right;
    vertical-align: bottom;
}
