.view-changer
{
    display: none;
}

.view-changer-img
{
    height: 30px;
    width: 30px;
    display: block;
    cursor: pointer;
    background-position: center;
    background-size: cover;
}

.view-changer:not(:checked) + .view-changer-img,
.view-changer:checked + .view-changer-img
{
    background-image: url(img/list-menu.png);
}

.view-changer:checked + .view-changer-img
{
    transform: rotate(90deg);
}

.view-changer:checked ~ .cat-info
{
    display: block;
}

.view-changer:checked ~ .cat-info
{
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: auto;
    border: none;
    border-bottom: 1px solid gray;
}

.cat-info
{
    width: 300px;
    height: 350px;
    border: 1px solid gray;
    border-radius: 3px;
    display: inline-block;
    margin: 20px;
}

.cat-img
{
    display: block;
    width: 100%;
}

.cat-name
{
    margin: 10px 0 0 15px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cat-info:hover
{
    box-shadow: 0 0 30px;
}

.cat-name > a
{
    text-decoration: none;
    color: #2d2d2d;
}

.cat-name:hover > a
{
    color: brown;
}

li
{
    list-style-type: none;
}

li:hover
{
    font-weight: bold;
}

.cat-info > ul
{
    padding: 0 0 0 15px;
    margin: 10px 0;
}

.view-changer:not(:checked) ~ .cat-info > .full-info,
.view-changer:checked ~ .cat-info > .short-info
{
    display: none;
}

.short-info,
.full-info
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #707070;
}

.full-info
{
    font-size: 13.5px;
    padding: 0 15px;
}
