.cats 
{
    font-family: 'Fira Sans', sans-serif;
    margin-top: 70px;
    margin-bottom: 50px;
    width: 100%;
    height: 500px;
    overflow: hidden;
    border: 2px solid #4c4cd8;
}

.carousel
{
    margin: 100px;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    white-space: nowrap;
    width: 100%;
}

.slide  
{
    margin-right: 40px;
    margin-left: 40px;
    background-color: #f0f0f0;
    display: inline-block;
    opacity: .7;
    overflow: hidden;
    position: relative;
    white-space: normal;
    width: 33%;
    transition: all .5s;
}

.slide:hover
{
    opacity: .8;
}

.gallery
{
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
}

.cat-card
{
    float: left;
    width: 100%;
    height: 400px;
    object-fit: cover;
    position: relative;
}

.cat-name
{
    position: absolute;
    opacity: 0;
    line-height: 400px;
    width: 100%;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-size: 60px;
    color: #fff;
    transition: opacity .5s;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cat-1 a,
.cat-2 a,
.cat-3 a,
.cat-4 a,
.cat-5 a
{
    display: block;
    text-decoration: none;
}

header
{
    position: fixed;
    top: 0;
    width: 100%;
    height: 45px;
    background-color: #fff;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 32px;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, .3);
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    z-index: 1;
}

footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #fff;
    font-family: 'Arial';
    font-size: 14px;
    border-top: 1px solid rgba(0, 0, 0, .3);
    border-bottom: 1px solid rgba(0, 0, 0, .3);
}

footer a
{
    color: #4c4cd8;
}

.ya-ya::first-letter
{
    color: red;
}

.contact-phone
{
    margin: 12px 20px;
}

.cat-photo
{
    width: 450px;
    height: 350px;
    object-fit: cover;
    float: left;
}

.view-label-image
{
    width: 30px;
    height: 30px;
    padding: 10px;
}

.popup-link
{
    pointer-events: none;
    cursor: default;
}

.overlay
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .9);
    display: none;
    opacity: 0;
}
  
.overlay:target
{
    display: block;
    opacity: 1;
}
  
.popup
{
    top: 20%;
    left: 15%;
    padding: 20px;
    color: #fff;
    font-family: 'PT Sans Narrow', sans-serif;
    border-radius: 5px;
    position: relative;
    width: 70%;
}
  
.popup .close
{
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}
  
.popup .close:hover
{
    color: #f00;
}

.popup-content
{
    position: absolute;
    left: 55%;
    top: 200%;
}

.nav_slider
{
    position: fixed;
    bottom: 40px;
    text-align: center;
    width: 100%;
    height: 40px;
}

.dots {
    top: -5px;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.4);
    transition: .4s;
    cursor: pointer;
}

input[value='slide_1']:checked ~ .nav_slider #dot_1,
input[value='slide_2']:checked ~ .nav_slider #dot_2,
input[value='slide_3']:checked ~ .nav_slider #dot_3,
input[value='slide_4']:checked ~ .nav_slider #dot_4,
input[value='slide_5']:checked ~ .nav_slider #dot_5
{
    background-color: rgba(255, 0, 0, .7);
}

input[value='slide_1']:checked ~ .carousel .gallery
{
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
}

input[value='slide_2']:checked ~ .carousel .gallery
{
    -webkit-transform: translate3d(-14%, 0, 0);
    transform: translate3d(-14%, 0, 0);
}

input[value='slide_3']:checked ~ .carousel .gallery
{
    -webkit-transform: translate3d(-55%, 0, 0);
    transform: translate3d(-55%, 0, 0);
}

input[value='slide_4']:checked ~ .carousel .gallery
{
    -webkit-transform: translate3d(-85%, 0, 0);
    transform: translate3d(-95%, 0, 0);
}

input[value='slide_5']:checked ~ .carousel .gallery
{
    -webkit-transform: translate3d(-135%, 0, 0);
    transform: translate3d(-135%, 0, 0);
}

input[value='slide_1']:checked ~ .carousel .gallery .cat-1 .popup-link,
input[value='slide_2']:checked ~ .carousel .gallery .cat-2 .popup-link,
input[value='slide_3']:checked ~ .carousel .gallery .cat-3 .popup-link,
input[value='slide_4']:checked ~ .carousel .gallery .cat-4 .popup-link,
input[value='slide_5']:checked ~ .carousel .gallery .cat-5 .popup-link
{
    pointer-events: auto;
    cursor: default;
}

input[value='slide_1']:checked ~ .carousel .gallery .cat-1,
input[value='slide_2']:checked ~ .carousel .gallery .cat-2,
input[value='slide_3']:checked ~ .carousel .gallery .cat-3,
input[value='slide_4']:checked ~ .carousel .gallery .cat-4,
input[value='slide_5']:checked ~ .carousel .gallery .cat-5
{
    opacity: 1;
}

input[value='slide_1']:checked ~ .carousel .gallery .cat-1:hover .cat-name,
input[value='slide_2']:checked ~ .carousel .gallery .cat-2:hover .cat-name,
input[value='slide_3']:checked ~ .carousel .gallery .cat-3:hover .cat-name,
input[value='slide_4']:checked ~ .carousel .gallery .cat-4:hover .cat-name,
input[value='slide_5']:checked ~ .carousel .gallery .cat-5:hover .cat-name
{
    opacity: 1;
    background: rgba(0, 0, 0, .5);
}

input[value='slide_1']:not(:checked) ~ .carousel .gallery .cat-1,
input[value='slide_2']:not(:checked) ~ .carousel .gallery .cat-2,
input[value='slide_3']:not(:checked) ~ .carousel .gallery .cat-3,
input[value='slide_4']:not(:checked) ~ .carousel .gallery .cat-4,
input[value='slide_5']:not(:checked) ~ .carousel .gallery .cat-5
{
    transform: scale(.8);
} 
