.card
{
    vertical-align: top;
    margin: 5px;
    display: inline-block;
    position: relative;
}

.cat-img
{
    width: 250px;
    display: inline-block;
}

.carousel-list
{
    white-space: nowrap;
    padding: 0;
    margin: 0;
    position: relative;
    left: 35%;
}

.carousel-next-1:checked ~ .carousel-list
{
    transform: translateX(0);
    transition-duration: 300ms;
}

.carousel-next-2:checked ~ .carousel-list
{
    transform: translateX(-250px);
    transition-duration: 300ms;
}

.carousel-next-3:checked ~ .carousel-list
{
    transform: translateX(-500px);
    transition-duration: 300ms;
}

.carousel-next-4:checked ~ .carousel-list
{
    transform: translateX(-750px);
    transition-duration: 300ms;
}

.carousel-next-5:checked ~ .carousel-list
{
    transform: translateX(-1000px);
    transition-duration: 300ms;
}

main
{
    overflow: hidden;
    text-align: center;
}

li.card
{
    white-space: normal;
    display: inline-block;
}

header
{
    font-size: 32px;
    text-align: center;
    border-bottom: 2px solid #b5e9a7;
    font-family: 'PT SansNarrow', serif;
    padding-bottom: 20px;
}

header:first-letter
{
    color: red;
}

body
{
    background-color: mintcream;
    font-family: 'Comic Sans MS', sans-serif;
}

footer
{
    padding-top: 10px;
    border-top: 2px solid #b5e9a7;
    font-family: Arial, serif;
    font-size: 14px;
}

.email,
.name-ooo
{
    color: #4c4cd8;
    text-decoration: none;
}

.email:before
{
    content: '';
    display: block;
    background: url(pics/email2.png) no-repeat;
    width: 30px;
    height: 30px;
    float: left;
}

.name-ooo:before
{
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    float: left;
}
