@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

header
{
}

header h1
{
    font-size: 32px;
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;
}

header h1:first-letter
{
    color: #ff3c17;
}

main
{
    position: relative;
    margin-top: 100px;
    z-index: 99;
}

footer
{
    font-size: 14px;
    font-family: Arial;
}

footer img
{
    width: 18px;
    height: 18px;
    margin: -2px;
}

.cat-card
{
    position: relative;
    margin: 30px;
    display: inline-block;
    border: 2px solid lightgrey;
}

img
{
    position: relative;
    left: 0;
    top: 0;
    width: 300px;
    z-index: 101;
}

img:hover
{
    z-index: 99;
}

.cat-name
{
    font-size: 30px;
    z-index: 100;
}

footer li
{
    display: flex;
    line-height: 1.8;
}

footer li
{
    display: block;
    line-height: 1.8;
}

.right
{
    float: right;
    margin-right: 150px;
}

footer [href]
{
    color: #4c4cd8;
    text-decoration: none;
}
